In [1]:
import pickle

demofile = '/home/anton/Documents/Tulane/Research/ImageNomer/data/anton/cohorts/UKB/demographics.pkl'

demo = pickle.load(open(demofile, 'rb'))

print(demo.keys())

dict_keys(['f_22001_0_0', 'f_21003_3_0', 'f_21003_2_0', 'f_21000_0_0', 'CaAfCarDiff', 'CaIndDiff', 'CaChiDiff', 'f_21000_0_0_comb', 'longitudinal', '22438-0.0', '22828-0.0', '26201-0.0', '26202-0.0', '26203-0.0', '26204-0.0', '26205-0.0', '26206-0.0', '26207-0.0', '26208-0.0', '26209-0.0', '26210-0.0', '26211-0.0', '26212-0.0', '26213-0.0', '26214-0.0', '26215-0.0', '26216-0.0', '26217-0.0', '26218-0.0', '26219-0.0', '26220-0.0', '26221-0.0', '26222-0.0', '26223-0.0', '26224-0.0', '26225-0.0', '26226-0.0', '26227-0.0', '26228-0.0', '26229-0.0', '26231-0.0', '26232-0.0', '26233-0.0', '26234-0.0', '26235-0.0', '26236-0.0', '26237-0.0', '26238-0.0', '26239-0.0', '26240-0.0', '26241-0.0', '26242-0.0', '26243-0.0', '26244-0.0', '26245-0.0', '26246-0.0', '26247-0.0', '26248-0.0', '26249-0.0', '26250-0.0', '26251-0.0', '26252-0.0', '26253-0.0', '26254-0.0', '26255-0.0', '26256-0.0', '26257-0.0', '26258-0.0', '26259-0.0', '26260-0.0', '26261-0.0', '26262-0.0', '26263-0.0', '26264-0.0', '26265-0.0', '26266-0.0', '26267-0.0', '26268-0.0', '26269-0.0', '26270-0.0', '26271-0.0', '26272-0.0', '26273-0.0', '26274-0.0', '26275-0.0', '26276-0.0', '26277-0.0', '26278-0.0', '26279-0.0', '26280-0.0', '26281-0.0', '26282-0.0', '26283-0.0', '26284-0.0', '26285-0.0', '26286-0.0', '26287-0.0', '26289-0.0', '26290-0.0'])

In [2]:
# Read the phenotype info

import pandas as pd

csvname = '/run/media/anton/AntonData1/UKB/Anton_07132023.csv'
df = pd.read_csv(csvname)
df

,f.eid,f.19.0.0,f.31.0.0,f.46.0.0,f.46.1.0,f.46.2.0,f.46.3.0,f.47.0.0,f.47.1.0,f.47.2.0,...,f.30750.0.0,f.30750.1.0,f.30790.0.0,f.30790.1.0,f.30850.0.0,f.30850.1.0,f.30860.0.0,f.30860.1.0,f.30890.0.0,f.30890.1.0
0,1000010,1.0,0.0,24.0,NaN,NaN,NaN,22.0,NaN,NaN,...,35.8,NaN,NaN,NaN,0.867,NaN,74.87,NaN,70.5,NaN
1,1000028,2.0,1.0,36.0,NaN,NaN,NaN,52.0,NaN,NaN,...,24.1,NaN,141.60,NaN,7.075,NaN,76.43,NaN,58.2,NaN
2,1000034,1.0,1.0,41.0,NaN,NaN,NaN,40.0,NaN,NaN,...,34.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000045,1.0,1.0,46.0,NaN,NaN,NaN,50.0,NaN,NaN,...,36.1,NaN,7.27,NaN,18.837,NaN,73.09,NaN,57.9,NaN
4,1000052,1.0,0.0,16.0,NaN,NaN,NaN,20.0,NaN,NaN,...,40.5,NaN,148.32,NaN,0.515,NaN,74.67,NaN,63.2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502481,6024820,1.0,0.0,14.0,NaN,NaN,NaN,12.0,NaN,NaN,...,35.8,NaN,49.97,NaN,1.242,NaN,NaN,NaN,49.3,NaN
502482,6024833,2.0,1.0,54.0,NaN,NaN,NaN,54.0,NaN,NaN,...,37.0,NaN,7.11,NaN,6.128,NaN,71.84,NaN,41.4,NaN
502483,6024847,1.0,0.0,26.0,NaN,NaN,NaN,28.0,NaN,NaN,...,37.3,NaN,42.07,NaN,1.039,NaN,73.41,NaN,66.4,NaN
502484,6024859,2.0,1.0,50.0,NaN,NaN,NaN,48.0,NaN,NaN,...,37.2,NaN,110.80,NaN,13.486,NaN,73.46,NaN,24.5,NaN
502485,6024862,1.0,1.0,36.0,NaN,NaN,NaN,40.0,NaN,NaN,...,24.9,NaN,27.02,NaN,12.189,NaN,62.03,NaN,37.2,NaN

In [16]:
# Load weight and BMI

from math import isnan

bmifield = 'f.21001.0.0'
weightfield = 'f.21002.0.0'

demo[bmifield] = dict()
demo[weightfield] = dict()

for i,sub in enumerate(demo['f_21003_2_0']):
    try:
        bmi = df[df['f.eid'] == sub][bmifield].array[0]
        if not isnan(bmi):
            demo[bmifield][sub] = bmi
    except:
        pass
    try:
        weight = df[df['f.eid'] == sub][weightfield].array[0]
        if not isnan(weight):
            demo[weightfield][sub] = weight
    except:
        pass
    if i % 1000 == 0:
        print(f'Done {i}')
        
print(len(demo[bmifield]))
print(len(demo[weightfield]))

Done 0
Done 1000
Done 2000
Done 3000
Done 4000
Done 5000
Done 6000
Done 7000
Done 8000
Done 9000
Done 10000
Done 11000
Done 12000
Done 13000
Done 14000
Done 15000
Done 16000
Done 17000
Done 18000
Done 19000
Done 20000
Done 21000
Done 22000
Done 23000
Done 24000
Done 25000
Done 26000
Done 27000
Done 28000
Done 29000
Done 30000
Done 31000
Done 32000
Done 33000
Done 34000
Done 35000
Done 36000
Done 37000
Done 38000
Done 39000
Done 40000
40567
40574

In [17]:
# Write new demo

pickle.dump(demo, open(demofile, 'wb'))

print('Complete')

Complete

In [18]:
# Create B-A scans

import numpy as np

demodir = '/home/anton/Documents/Tulane/Research/ImageNomer/data/anton/cohorts/UKB'

count = 0

for sub in demo['f_21003_3_0']:
    if sub not in demo['f_21003_2_0']:
        continue
    try:
        p0 = np.load(f'{demodir}/fc/{sub}_task-20227-2_fc.npy')
        p1 = np.load(f'{demodir}/fc/{sub}_task-20227-3_fc.npy')
        pdiff = p1-p0
        np.save(f'{demodir}/fc/{sub}_task-20227-3-2-diff_fc.npy', pdiff)
        count += 1
    except:
        continue
        
print(count)

2722