In [1]:
# Create demographics file based on select field in two .csv files
# Sanity test regression of age, sex, race on REST FCs

import pandas as pd

dfRestrict = pd.read_csv('/home/anton/Documents/Yale/HCP/RESTRICTED_sony5650_6_18_2017_10_24_27.csv')

dfRestrict

,Subject,Age_in_Yrs,HasGT,ZygositySR,ZygosityGT,Family_ID,Mother_ID,Father_ID,TestRetestInterval,Race,...,SSAGA_Times_Used_Illicits,SSAGA_Times_Used_Cocaine,SSAGA_Times_Used_Hallucinogens,SSAGA_Times_Used_Opiates,SSAGA_Times_Used_Sedatives,SSAGA_Times_Used_Stimulants,SSAGA_Mj_Use,SSAGA_Mj_Ab_Dep,SSAGA_Mj_Age_1st_Use,SSAGA_Mj_Times_Used
0,100004,24,True,NotTwin,,52259_82122,52259,82122,NaN,White,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
1,100206,27,True,NotTwin,,56037_85858,56037,85858,NaN,White,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
2,100307,27,True,NotMZ,MZ,51488_81352,51488,81352,NaN,White,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,1.0
3,100408,33,True,MZ,MZ,51730_81594,51730,81594,NaN,White,...,4.0,5.0,5.0,5.0,0.0,0.0,1.0,1.0,2.0,4.0
4,100610,27,True,NotMZ,DZ,52813_82634,52813,82634,NaN,White,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,992774,35,True,NotTwin,,51345_81210,51345,81210,NaN,White,...,2.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,3.0,2.0
1202,993675,29,True,NotTwin,,55800_85621,55800,85621,NaN,White,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0
1203,994273,30,True,NotTwin,,52364_82227,52364,82227,NaN,White,...,4.0,0.0,5.0,5.0,5.0,0.0,1.0,1.0,2.0,5.0
1204,995174,25,True,MZ,MZ,55923_85743,55923,85743,NaN,White,...,5.0,0.0,5.0,1.0,1.0,1.0,1.0,0.0,1.0,5.0
1205,996782,28,True,NotMZ,DZ,51541_81405,51541,81405,NaN,White,...,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,3.0,3.0

In [2]:
dfUnrestrict = pd.read_csv('/home/anton/Documents/Yale/HCP/unrestricted_aorlichenko_3_17_2025_9_18_27.csv')

dfUnrestrict

,Subject,Release,Acquisition,Gender,Age,3T_Full_MR_Compl,T1_Count,T2_Count,3T_RS-fMRI_Count,3T_RS-fMRI_PctCompl,...,Noise_Comp,Odor_Unadj,Odor_AgeAdj,PainIntens_RawScore,PainInterf_Tscore,Taste_Unadj,Taste_AgeAdj,Mars_Log_Score,Mars_Errs,Mars_Final
0,100004,S900,Q06,M,22-25,False,0,0,0,0.0,...,5.2,101.12,86.45,2.0,45.9,107.17,105.31,1.80,0.0,1.80
1,100206,S900,Q11,M,26-30,True,1,1,4,100.0,...,6.0,108.79,97.19,1.0,49.7,72.63,72.03,1.84,0.0,1.84
2,100307,Q1,Q01,F,26-30,True,1,1,4,100.0,...,3.6,101.12,86.45,0.0,38.6,71.69,71.76,1.76,0.0,1.76
3,100408,Q3,Q03,M,31-35,True,1,1,4,100.0,...,2.0,108.79,98.04,2.0,52.6,114.01,113.59,1.76,2.0,1.68
4,100610,S900,Q08,M,26-30,True,2,1,4,100.0,...,2.0,122.25,110.45,0.0,38.6,84.84,85.31,1.92,1.0,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1201,992774,Q2,Q02,M,31-35,True,2,2,4,100.0,...,8.4,122.25,111.41,4.0,50.1,107.17,103.55,1.76,0.0,1.76
1202,993675,S900,Q09,F,26-30,True,2,2,4,100.0,...,0.4,122.25,110.45,0.0,38.6,84.07,84.25,1.80,1.0,1.76
1203,994273,S500,Q06,M,26-30,True,1,1,4,100.0,...,6.0,122.25,111.41,7.0,63.8,110.65,109.73,1.80,1.0,1.76
1204,995174,S1200,Q13,M,22-25,False,1,1,2,0.0,...,3.6,88.61,64.58,3.0,50.1,117.16,117.40,1.80,0.0,1.80
1205,996782,S900,Q08,F,26-30,True,2,2,4,100.0,...,6.0,108.79,97.19,0.0,38.6,75.43,73.72,1.84,0.0,1.84

In [38]:
# Removed: 8 HbA1C

restrictFields = '''Age_in_Yrs
Race
Weight
Height
BMI
Hematocrit_1
BPDiastolic
BPSystolic
Total_Drinks_7days
Total_Any_Tobacco_7days
SSAGA_Mj_Use'''

restrictFields = restrictFields.split()
restrictFields

['Age_in_Yrs',
 'Race',
 'Weight',
 'Height',
 'BMI',
 'Hematocrit_1',
 'BPDiastolic',
 'BPSystolic',
 'Total_Drinks_7days',
 'Total_Any_Tobacco_7days',
 'SSAGA_Mj_Use']

In [39]:
unrestrictFields = '''Gender
PSQI_Score
Strength_Unadj'''

unrestrictFields = unrestrictFields.split()
unrestrictFields

['Gender', 'PSQI_Score', 'Strength_Unadj']

In [40]:
import math

demo = {}

nansCount = 0

for field in restrictFields:
    demo[field] = {}

for field in unrestrictFields:
    demo[field] = {}

nansubs = 0

for index, row in dfRestrict.iterrows():
    sub = row['Subject']
    hasnan = False
    for field in restrictFields:
        val = row[field]
        if type(val) != str and math.isnan(val):
            nansCount += 1
            hasnan = True
            continue
        demo[field][sub] = val
    if hasnan == True:
        nansubs += 1

print('Done')
print(nansCount)
print(nansubs)

Done
211
138

In [41]:
nansCount2 = 0

for index, row in dfUnrestrict.iterrows():
    sub = row['Subject']
    for field in unrestrictFields:
        val = row[field]
        if type(val) != str and math.isnan(val):
            nansCount2 += 1
            continue
        demo[field][sub] = val

print('Done')
print(nansCount2)

Done
1

In [42]:
# Dump demographics

import pickle

pickle.dump(demo, open('/home/anton/Documents/Yale/HCP/demographics.pkl', 'wb'))

print('Done')

Done

In [44]:
# Get subs with all values

allFields = restrictFields + unrestrictFields
keepSubs = []

for sub in demo['Age_in_Yrs']:
    exclude = False
    for field in allFields:
        if sub not in demo[field]:
            exclude = True
    if not exclude:
        keepSubs.append(sub)

print(len(keepSubs))

1067

In [49]:
# Get FC

import numpy as np

fcsPkl = pickle.load(open('/home/anton/Documents/Yale/HCP/fcs_ya.pkl', 'rb'))
fcs = []

for sub in keepSubs:
    sub = str(sub)
    if sub in fcsPkl:
        fcs.append(fcsPkl[sub])

x = np.stack(fcs)

print(len(x))

456

In [86]:
# Get target variable

field = 'Gender'
y = []

for sub in keepSubs:
    if str(sub) in fcsPkl:
        y.append(int(demo[field][sub] == 'F'))

y = np.array(y)

print(y)

[1 1 0 1 1 0 1 1 1 1 1 0 0 1 1 1 0 1 1 1 0 1 0 0 0 0 1 1 0 1 0 1 1 0 1 1 0
 1 0 0 1 0 1 0 1 0 1 1 1 1 0 0 0 0 1 0 1 1 0 1 1 1 0 0 1 0 1 1 1 1 1 0 1 1
 0 0 1 0 1 0 1 1 1 0 0 1 1 1 0 0 1 0 1 1 0 1 0 1 0 0 0 1 1 1 1 1 0 1 0 0 1
 0 0 0 1 0 1 1 0 1 0 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 1 0 0 0 0 1 1 0 0 1 0 0
 1 0 0 1 1 1 1 1 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 0 1 0 1 1 1 0 1 1 0 1 1 1 0
 1 0 1 1 1 1 1 0 1 1 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 1 1 0 1 1 1 1 1 1 1 1 0
 0 1 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 0 0 1 0 0 1 1
 0 0 1 1 1 1 0 1 0 1 0 0 0 1 1 0 1 1 1 1 1 1 0 1 1 0 0 0 1 0 1 1 0 1 1 0 1
 0 1 1 1 1 0 1 0 1 0 1 0 0 1 1 0 1 1 1 0 1 0 0 1 1 0 0 0 1 0 1 0 1 1 1 0 1
 0 0 1 1 1 0 1 0 0 1 1 1 0 1 1 1 0 0 0 0 0 0 0 0 1 0 0 1 1 0 0 1 1 1 0 1 1
 0 0 1 1 1 0 1 0 1 1 0 1 0 0 0 0 1 0 0 1 1 1 0 0 1 1 1 1 0 1 1 0 0 0 0 1 0
 1 1 1 0 1 0 1 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 1 1 0 1 1 0 0 0 1 1 0 0 1 1 1
 1 0 1 0 0 0 0 1 0 1 0 1]

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge, LogisticRegression

def rmse(a, b):
    return np.mean((a-b)**2)**0.5

xtr, xt, ytr, yt = train_test_split(x, y, stratify=y, train_size=0.8)

reg = LogisticRegression(C=100).fit(xtr, ytr)
yhat = reg.predict(xt)
print(np.mean(yt == yhat))
print(np.mean(ytr))
# print(rmse(yt, yhat))
# print(rmse(yt, np.mean(ytr)))

0.8804347826086957
0.5467032967032966