In [1]:
import pandas as pd

df = pd.read_csv("/home/anton/Documents/Tulane/Research/Work/ADNI/PTDEMOG_04Mar2025.csv")

df

,PHASE,PTID,RID,VISCODE,VISCODE2,VISDATE,PTSOURCE,PTGENDER,PTDOB,PTDOBYY,...,PTBIRPR,PTBIRGR,ID,SITEID,USERDATE,USERDATE2,DD_CRF_VERSION_LABEL,LANGUAGE_CODE,HAS_QC_ERROR,update_stamp
0,ADNI1,011_S_0002,2,sc,sc,2005-08-17,1.0,1.0,04/1931,1931.0,...,NaN,NaN,18,107,2005-08-17,NaN,NaN,NaN,NaN,2005-08-17 00:00:00.0
1,ADNI1,022_S_0001,1,f,f,2005-08-18,1.0,2.0,12/1944,1944.0,...,NaN,NaN,20,10,2005-08-18,NaN,NaN,NaN,NaN,2005-08-18 00:00:00.0
2,ADNI1,011_S_0003,3,sc,sc,2005-08-18,1.0,1.0,05/1924,1924.0,...,NaN,NaN,22,107,2005-08-18,NaN,NaN,NaN,NaN,2005-08-18 00:00:00.0
3,ADNI1,022_S_0004,4,sc,sc,2005-08-18,1.0,1.0,01/1938,1938.0,...,NaN,NaN,24,10,2005-08-18,NaN,NaN,NaN,NaN,2005-08-18 00:00:00.0
4,ADNI1,011_S_0005,5,sc,sc,2005-08-23,1.0,1.0,12/1931,1931.0,...,NaN,NaN,26,107,2005-08-23,NaN,NaN,NaN,NaN,2005-08-23 00:00:00.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5757,ADNI4,381_S_10492,10492,4_sc,sc,2025-02-14,1.0,2.0,02/1964,1964.0,...,1.0,1.0,71051,381,2025-02-28,2025-02-28,v1,e,0.0,2025-03-01 00:40:05.0
5758,ADNI4,114_S_10468,10468,4_sc,sc,2025-02-26,1.0,1.0,07/1951,1951.0,...,1.0,1.0,71122,114,2025-02-28,2025-02-28,v1,e,0.0,2025-03-01 00:40:05.0
5759,ADNI4,037_S_10171,10171,4_sc,sc,2024-08-19,NaN,NaN,NaN,NaN,...,2.0,2.0,71207,37,2025-02-28,2025-02-28,v1,e,1.0,2025-03-01 00:40:05.0
5760,ADNI4,036_S_10545,10545,4_sc,sc,2025-02-26,1.0,1.0,05/1949,1949.0,...,0.0,0.0,71230,36,2025-03-03,2025-03-03,v1,e,0.0,2025-03-04 00:40:16.0
5761,ADNI4,127_S_6147,6147,4_init,m84,2025-02-13,1.0,1.0,07/1948,1948.0,...,1.0,0.0,71366,127,2025-03-03,2025-03-03,v1,e,0.0,2025-03-04 00:40:16.0

In [7]:
import math

ages = []

for yy in df['PTDOBYY']:
    if not math.isnan(yy):
        ages.append(2018-yy)

import numpy as np

print(np.mean(ages))
print(np.std(ages))

77.54949784791965
11.061831719100716